.b-steps
	padding: 80px 0

	&__item

	&__heading
		padding: 24px 20px

		background-color: $grey-lightest

		color: $black
		font-size: $font-size-xl
		font-weight: 700
		line-height: 1.5
		letter-spacing: .06em

		text-transform: uppercase

		&_number
			margin-right: 20px

	&__content
		padding: 40px 65px