.b-modal.c-modal( data-c-modal-number="1" )

	.c-modal__inner

		.b-modal__box-wrapper.c-modal__box-wrapper.c-modal__box-wrapper_middle_mb

			.c-modal__overlay.c-modal__close.c-video-player__pause( data-c-video-player-number="1" )

			.b-box-video.c-modal__box

				.b-box-video__cross.c-modal__close.c-video-player__pause( data-c-video-player-number="1" )

				.b-box-video__video
					iframe.b-box-video__video-iframe( id="c-player" src="https://www.youtube.com/embed/chizr_7kRfk?&enablejsapi=1" frameborder="0" allowfullscreen )