doctype html
html(lang="en")
	include includes/base/_head.pug

	style
		include style.css

	body

		.b-header

			.-ol-container.-ol-container_full_w.l-flex.l-flex_valign_center.l-flex_space_between._full_h

				.l-flex__item
					.b-header__logo

				.l-flex__item
					button.-ol-btn.-ol-btn_min_w_mdl Login

		.l-content-wrapper

			.l-content-wrapper__item.l-content-wrapper__item_major

				.b-hero

					.-ol-container._full_w

						.-ol-row.-ol-row_lg
							.-ol-col-12.-ol-col_lg._bind

								.b-hero__content

									.b-hero__content-text-part
										h2.b-hero__heading Reach More Customers
										p.b-hero__paragraph Teamup are part of OpenActive. If you use Teamup as your booking system you're a couple of clicks away from reaching way more customers

									.b-hero__content-controls

										.b-hero__content-controls-item
											button.-ol-btn.-ol-btn_min_w_lg Get started

										.b-hero__content-controls-item
											a.b-hero__link-website( href="#!" )
												span.b-hero__link-website-text OpenActive Website

								.b-hero__img
									.b-hero__img-logo

					button.b-hero__btn-video( data-text="Watch video" )

				.b-steps

					.-ol-container

						.-ol-row.-ol-row_lg
							.-ol-col-12.-ol-col_lg

								.b-steps__item.b-steps__item_active
									.b-steps__heading
										.b-steps__heading-text #[span.b-steps__heading-text_number._letter_spacing_inherit 1] Login
									.b-steps__content
										button.-ol-btn.-ol-btn_min_w_mdl Login

								.b-steps__item
									.b-steps__heading
										.b-steps__heading-text #[span.b-steps__heading-text_number._letter_spacing_inherit 2] Preview
									.b-steps__content
										button.-ol-btn.-ol-btn_min_w_mdl Preview
										p I have checked the preview for any personal data included in activity names or descriptions (e.g. instructor names, e-mail addresses or phone numbers), and I have consent to publish these. Personal data guidance
										p I have checked the preview, and am happy that the title and description of each session is clear, and includes enough detail for a customer to understand what the session is about.

								.b-steps__item.b-steps__item_last
									.b-steps__heading
										.b-steps__heading-text #[span.b-steps__heading-text_number._letter_spacing_inherit 3] Publish
									.b-steps__content
										button.-ol-btn.-ol-btn_min_w_lg Setup Payment
										p Your data is #[b open] for anyone to access, use and share and #[b bookable] via imin. You just need to setup payment.

			.l-content-wrapper__item.l-content-wrapper__item_shrink_none

				.b-footer

					.-ol-container.-ol-container_full_w.l-flex.l-flex_valign_center.l-flex_space_between._full_h

						.l-flex__item

						.l-flex__item

							.b-footer__stewarded-by

								.b-footer__stewarded-by-item.b-footer__stewarded-by-item_text
									p.b-footer__text OpenActive is stewarded by:

								.b-footer__stewarded-by-item
									.b-footer__stewarded-by-logo.b-footer__stewarded-by-logo_odi

								.b-footer__stewarded-by-item.b-footer__stewarded-by-item_last
									.b-footer__stewarded-by-logo.b-footer__stewarded-by-logo_sport_england


		script(
			src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" )

		script(
			src="dist/js/specific/app.js" )