doctype html
html(lang="en")
	include includes/base/_head.pug

	style
		include style.css

	body

		.b-header

			.-ol-container.-ol-container_full_w.l-flex.l-flex_valign_center.l-flex_space_between._full_h

				.l-flex__item
					.b-header__logo

				.l-flex__item
					button.-ol-btn.-ol-btn_min_w_mdl Login

		.l-content-wrapper

			.l-content-wrapper__item.l-content-wrapper__item_major

				.b-hero

					.-ol-container._full_w

						.-ol-row.-ol-row_lg
							.-ol-col-12.-ol-col_lg._bind

								.b-hero__content

									.b-hero__content-text-part
										h2.b-hero__heading Reach More Customers
										p.b-hero__paragraph Teamup are part of OpenActive. If you use Teamup as your booking system you're a couple of clicks away from reaching way more customers

									.b-hero__content-controls

										.b-hero__content-controls-item
											button.-ol-btn.-ol-btn_min_w_lg Get started

										.b-hero__content-controls-item.b-hero__content-controls-item_last.l-flex.l-flex_center

											//- .l-flex.l-flex_center - above is for tablet
											a.b-hero__link-website( href="#!" )
												span.b-hero__link-website-text OpenActive Website

								.b-hero__img
									.b-hero__img-logo

					button.b-hero__btn-video( data-text="Watch video" )

				.b-steps.c-accordion( data-c-accordion-class="b-steps__item_active" )

					.-ol-container

						.-ol-row.-ol-row_lg
							.-ol-col-12.-ol-col_lg

								.b-steps__item._cur_p.c-accordion__item

									.b-steps__heading.c-accordion__bind
										.b-steps__heading-text #[span.b-steps__heading-text_number._letter_spacing_inherit 1] Login

									.b-steps__content
										button.-ol-btn.-ol-btn_min_w_mdl Login

								.b-steps__item._cur_p.c-accordion__item

									.b-steps__heading.c-accordion__bind
										.b-steps__heading-text #[span.b-steps__heading-text_number._letter_spacing_inherit 2] Preview

									.b-steps__content

										.-ol-row-input.-ol-row-input_xl
											button.-ol-btn.-ol-btn_min_w_mdl Preview

										.-ol-row-input.-ol-row-input_xl
											label.b-form-controller-line
												.b-form-controller-line__item

													.-ol-checkbox
														input.-ol-checkbox__input( type="checkbox" id="preview1" )
														.-ol-checkbox__trigger

												.b-form-controller-line__item.b-form-controller-line__item_text

													p.b-form-controller-line__text I have checked the preview for any personal data included in activity names or descriptions (e.g. instructor names, e-mail addresses or phone numbers), and I have consent to publish these. #[a.-ol-link._letter_spacing_inherit Personal data guidance]

										.-ol-row-input.-ol-row-input_xl.-ol-row-input_last
											label.b-form-controller-line
												.b-form-controller-line__item

													.-ol-checkbox
														input.-ol-checkbox__input( type="checkbox" id="preview1" )
														.-ol-checkbox__trigger

												.b-form-controller-line__item.b-form-controller-line__item_text

													p.b-form-controller-line__text I have checked the preview, and am happy that the title and description of each session is clear, and includes enough detail for a customer to understand what the session is about.

								.b-steps__item.b-steps__item_last._cur_p.c-accordion__item

									.b-steps__heading.c-accordion__bind
										.b-steps__heading-text #[span.b-steps__heading-text_number._letter_spacing_inherit 3] Publish

									.b-steps__content

										.b-steps__content-btn-line
											.b-steps__content-btn-line-item
												button.-ol-btn.-ol-btn_min_w_lg Setup Payment

											.b-steps__content-btn-line-item
												.b-note
													.b-note__icon
													p.b-note__text Your data is #[b.b-note__text_bold._letter_spacing_inherit open] for anyone to access, use and share and #[b.b-note__text_bold._letter_spacing_inherit bookable] via imin. You just need to setup payment.

			.l-content-wrapper__item.l-content-wrapper__item_shrink_none

				.b-footer

					.-ol-container.-ol-container_full_w.l-flex.l-flex_valign_center.l-flex_space_between._full_h

						.l-flex__item

						.l-flex__item

							.b-footer__stewarded-by

								.b-footer__stewarded-by-item.b-footer__stewarded-by-item_text
									p.b-footer__text OpenActive is stewarded by:

								.b-footer__stewarded-by-item
									a.b-footer__stewarded-by-logo.b-footer__stewarded-by-logo_odi( href="#!" )

								.b-footer__stewarded-by-item.b-footer__stewarded-by-item_last
									a.b-footer__stewarded-by-logo.b-footer__stewarded-by-logo_sport_england( href="#!" )


		script(
			src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" )

		script(
			src="dist/js/specific/app.js" )