doctype html
html(lang="en")
	include includes/base/_head.pug

	style
		include style.css

	body

		.b-header

			.-ol-container.-ol-container_full_w

				.b-header__item
					.b-header__logo

				.b-header__item
					button.-ol-btn Login

		.b-hero

			.-ol-container._full_w

				.-ol-row.-ol-row_lg
					.-ol-col-12.-ol-col_lg

						.b-hero__content
							h2.b-hero__heading Reach More Customers
							p.b-hero__paragraph Teamup are part of OpenActive. If you use Teamup as your booking system you're a couple of clicks away from reaching way more customers

							.b-hero__content-controls
								button.-ol-btn Get started
								a.b-hero__link-website( href="#!" ) OpenActive Website

						button.b-hero__btn-video Watch video

		.b-steps

			.-ol-container

				.-ol-row.-ol-row_lg
					.-ol-col-12.-ol-col_lg

						.b-steps__item
							.b-steps__heading #[span.b-steps__heading_number._letter_spacing_inherit 1] Login
							.b-steps__content
								button.-ol-btn Login

						.b-steps__item
							.b-steps__heading #[span.b-steps__heading_number._letter_spacing_inherit 2] Preview
							.b-steps__content
								button.-ol-btn Preview
								p I have checked the preview for any personal data included in activity names or descriptions (e.g. instructor names, e-mail addresses or phone numbers), and I have consent to publish these. Personal data guidance
								p I have checked the preview, and am happy that the title and description of each session is clear, and includes enough detail for a customer to understand what the session is about.

						.b-steps__item
							.b-steps__heading #[span.b-steps__heading_number._letter_spacing_inherit 3] Publish
							.b-steps__content
								button.-ol-btn Setup Payment
								p Your data is #[b open] for anyone to access, use and share and #[b bookable] via imin. You just need to setup payment.

		.b-footer

			.-ol-container.-ol-container_full_w

				.b-footer__item

				.b-footer__item
					p OpenActive is stewarded by:


		script(
			src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" )

		script(
			src="dist/js/specific/app.js" )